asgiref==3.11.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
defusedxml==0.7.1
dj-rest-auth==2.2.8
Django==5.2
django-allauth==0.54.0
django-cors-headers==4.3.1
djangorestframework==3.16.1
idna==3.11
oauthlib==3.3.1
pycparser==2.23
PyJWT==2.10.1
python-dotenv==1.2.1
python3-openid==3.2.0
requests==2.32.5
requests-oauthlib==2.0.0
sqlparse==0.5.4
tzdata==2025.3
urllib3==2.6.2